.btn {
  padding: 0.8rem 2.7rem;
  border-radius: 2.8rem;
  border: none;
  cursor: pointer;
  transition: 0.3s ease background-color;
  font-weight: 700;
  line-height: 2.8rem;
  white-space: nowrap;
  font-size: 1.4rem;
  
  &.dark {
    background-color: var(--color-dark);
    color: var(--color-text-light);

    &:hover {
      background-color: var(--color-galactic-blue);
    }
  }

  &.light-red {
    background-color: var(--color-light-red);
    color: var(--color-text-light);

    &:hover {
      background-color: var(--color-summer-yellow);
    }
  }

  @media screen and (min-width: 600px) {
    padding: 1.4rem 4.5rem;
    font-size: 1.6rem;
  }
}
