:root {
  --color-dark: #030303;
  --color-text-light: #fff7f0;

  // grid colors
  --color-galactic-blue: #755cde;
  --color-summer-yellow: #f6a560;
  --color-pink: #f39e9e;
  --color-cyan: #61c4b7;
  --color-light-red: #eb7565;
  --color-dark-purple: #552049;
}
