:root {
  --color-dark: #030303;
  --color-text-light: #fff7f0;
  --color-galactic-blue: #755cde;
  --color-summer-yellow: #f6a560;
  --color-pink: #f39e9e;
  --color-cyan: #61c4b7;
  --color-light-red: #eb7565;
  --color-dark-purple: #552049;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 1.6rem;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.navigator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navigator__site-logo img {
  display: block;
  height: 4.8rem;
  width: 4.8rem;
}
@media screen and (min-width: 376px) {
  .navigator__site-logo img {
    height: auto;
    width: auto;
  }
}

.container {
  display: block;
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 769px) {
  .container {
    max-width: 70%;
  }
}

.hero {
  text-align: center;
  margin: 3.2rem 0;
}
.hero__heading {
  font-size: 3.6rem;
  margin-bottom: 1.6rem;
}
.hero__content {
  padding: 0 2.9rem;
}
.hero__content p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.6rem;
}

.grid {
  display: grid;
}

.specialties {
  gap: 2.4rem;
  grid-template-columns: repeat(2, minmax(15.5rem, 1fr));
  grid-template-rows: repeat(6, minmax(18.2rem, 1fr));
  grid-template-areas: "gdesign gdesign" "gdesign gdesign" "ui-ux apps" "illustrations illustrations" "photography photography" "motion motion";
}
.specialties > * {
  border-radius: 0.8rem;
}
.specialties__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2.4rem;
}
.specialties__image {
  align-self: flex-end;
  display: block;
}
.specialties__text {
  white-space: nowrap;
  margin-top: auto;
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--color-text-light);
}
.specialties__gdesign {
  grid-area: gdesign/gdesign/gdesign/gdesign;
  background-color: var(--color-galactic-blue);
}
.specialties__ui-ux {
  grid-area: ui-ux/ui-ux/ui-ux/ui-ux;
  background-color: var(--color-summer-yellow);
}
.specialties__apps {
  grid-area: apps/apps/apps/apps;
  background-color: var(--color-pink);
}
.specialties__illustrations {
  grid-area: illustrations/illustrations/illustrations/illustrations;
  background-color: var(--color-light-red);
}
.specialties__photography {
  grid-area: photography/photography/photography/photography;
  background-color: var(--color-cyan);
}
.specialties__motion {
  grid-area: motion/motion/motion/motion;
  background-color: var(--color-dark-purple);
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .specialties {
    grid-template-columns: repeat(4, minmax(15.5rem, 1fr));
    grid-template-rows: repeat(3, minmax(18.2rem, 1fr));
    grid-template-areas: "gdesign gdesign ui-ux apps" "gdesign gdesign illustrations illustrations" "photography photography motion motion";
  }
}
@media screen and (min-width: 1025px) {
  .specialties {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, minmax(18.2rem, 1fr));
    grid-template-areas: "gdesign gdesign ui-ux apps photography photography" "gdesign gdesign illustrations illustrations motion motion";
  }
}

.btn {
  padding: 0.8rem 2.7rem;
  border-radius: 2.8rem;
  border: none;
  cursor: pointer;
  transition: 0.3s ease background-color;
  font-weight: 700;
  line-height: 2.8rem;
}
.btn.dark {
  background-color: var(--color-dark);
  color: var(--color-text-light);
}
.btn.dark:hover {
  background-color: var(--color-galactic-blue);
}
@media screen and (min-width: 376px) {
  .btn {
    padding: 1.4rem 4.5rem;
  }
}

/*# sourceMappingURL=app.css.map */
